<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"]</title>
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/StyleSheet.css"/>
	</head>
	<body>
		<ul class="nav justify-content-center nav-space nav-text-bold">
			<li class="nav-item">
				<a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" asp-controller="Home" asp-action="Register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" asp-controller="Home" asp-action="Login">Login</a>
			</li>
		</ul>
		<div>
			<h1 class="text-center">Welcome to our family money management system!</h1>
			@RenderBody()
		</div>
	</body>
</html>
