@model FamilyMoneyManagementSystem.Models.Money.MoneyTax

@{
	ViewData["Title"] = "Add Income";
	Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}

<form asp-action="AddIncome" method="post" class="row form-width">
	<div class="col col-lg-4 m-lg-auto text-center">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row mb-3">
			<label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="Name">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3">
			<label asp-for="Description" class="col-sm-3 col-form-label">Description</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="Description">
			</div>
		</div>
		<div class="row mb-3">
			<label asp-for="Amount" class="col-sm-3 col-form-label">Amount</label>
			<div class="col-sm-7">
				<input inputmode="numeric" class="form-control" name="Amount">
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3">
			<label asp-for="TimeAdded" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-7">
				<input type="datetime" id="AddDate" class="form-control" name="TimeAdded">
				<span asp-validation-for="TimeAdded" class="text-danger"></span>
			</div>
		</div>
		<div class="col text-end">
			<button class="btn btn-primary">Add</button>
		</div>
	</div>
</form>
